<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.enaikoon.android.inviu.opencellidlibrary"
    android:versionCode="11"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<!-- android:name=".AppMain" is needed to initialize AppMain.onCreate() event! -->
	
    <application
        android:name=".Configurator">
        <activity
            android:name=".TestActivity"
            android:label="TestActivity" >
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service android:name="de.enaikoon.android.inviu.opencellidlibrary.CellIDCollectionService" />
        <service android:name="de.enaikoon.android.inviu.opencellidlibrary.UploadService" />
    </application>

</manifest>